.about {
	margin: 60px 9vw 40px 9vw;
}

.about .about__header {
	color: #043c81;
	text-align: center;
	text-transform: uppercase;
	margin: 1em 0;
	letter-spacing: 3px;
}

.about .about__content {
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
}

.about .about__content .about__card {
	margin: calc(10px + 0.8vw);
	padding: 5% 0;
	width: 310px;
	max-width: 340px;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: -1px -1px 10px #00000015;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	transition: all 0.2s ease-out;
}

.about .about__content .about__card:hover {
	color: white;
	background-color: #151515;
	transform: scale(1.07);
	transition: all 0.1s ease-in-out;
}
.about .about__content .about__card:hover .about__card__header {
	color: white;
}
.about .about__content .about__card:hover .about__card__img {
	filter: invert(1) brightness(2);
	mix-blend-mode: luminosity;
}

.about .about__content .about__card .about__card__img {
	height: 80px;
}

.about .about__content .about__card .about__card__header {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
	text-align: center;
	line-height: 110%;
	color: #043c81;
	margin: 0.9em 0 0.6em 0;
}

.about .about__content .about__card .about__card__description {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	font-size: 0.875em;
}

@media (min-width: 1281px) {
	/* CSS */
}
@media (max-width: 1280px) {
	/* CSS */
}
@media (max-width: 1024px) {
  /* CSS */
}
@media (max-width: 767px) {
	/* CSS */
}
