.main-header .slide {
	position: relative;
	width: 100vw;
	height: 38vw;
	overflow: hidden;
	--transition: transform 1s ease-in-out;
}

.main-header .slide .slide__img {
	position: absolute;
	display: block;
	transform: translate(100vw);
	width: 100%;
}

.main-header .slide .display {
	transform: translateX(0) !important;
	transition: var(--transition);
	z-index: 1000;
}

.main-header .slide .next {
	transform: translateX(100vw) !important;
	transition: var(--transition);
}

.main-header .slide .prev {
	transform: translateX(-100vw) !important;
	transition: var(--transition);
}

.main-header .slide .slide__img:nth-of-type(1) {
	transform: translateX(0);
	transition: var(--transition);
}

/* navigation */

.main-header .slide .navigation {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 6vw;
	z-index: 2000;
}

.main-header .slide .navigation .navigation__item {
	--width: calc(6px + 0.5vw);
	width: var(--width);
	height: var(--width);
	border-radius: 50%;
	background-color: #fff;
	margin: calc(var(--width) + 0.8vw) 0;
	transition: all 0.7s;
}

.main-header .slide .navigation .active {
	transform: scale(1.5);
	background-color: #042448;
}

/* menu */

.main-header .menu {
	height: 110px;
	display: flex;
}

.main-header .menu .menu__item {
	flex: 1;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	padding: 14px;
	cursor: pointer;
}

.main-header .menu .menu__item .icon {
	height: 40px;
}
.main-header .menu .menu__item:nth-of-type(n + 2) .icon {
	filter: brightness(1.5);
}

.main-header .menu .menu__item .text {
	color: white;
	font-weight: 400;
	font-size: 0.875em;
	line-height: 100%;
	text-transform: uppercase;
}

.main-header .menu .menu__item:hover .menu__submenu {
	display: block;
}

.main-header .menu .menu__item .menu__submenu {
	list-style: none;
	display: none;
	width: 100%;
	position: absolute;
	bottom: 100%;
	background-color: inherit;
	text-transform: uppercase;
	z-index: 2000;
	color: white;
}

.main-header .menu .menu__item .menu__submenu .menu__submenu__item {
	height: 55px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}
.main-header
	.menu
	.menu__item
	.menu__submenu
	.menu__submenu__item[data-full='true']::before {
	content: '';
	width: 0.5em;
	height: 0.5em;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	position: absolute;
	right: 1em;
	transform: rotate(45deg);
}
.main-header .menu .menu__item .menu__submenu .menu__submenu__item:hover {
	background-color: #00adf1;
}
.main-header
	.menu
	.menu__item
	.menu__submenu
	.menu__submenu__item[data-full='true']:hover::before {
	transform: rotate(-45deg);
}

.main-header
	.menu
	.menu__item
	.menu__submenu
	.menu__submenu__item:hover
	.menu__submenu__submenu {
	display: block;
}
.main-header
	.menu
	.menu__item
	.menu__submenu
	.menu__submenu__item
	.menu__submenu__submenu {
	display: none;
	width: 100%;
	list-style: none;
	position: absolute;
	top: 0;
	right: -100%;
	background-color: #00adf1;
	z-index: 3000;
}
.main-header
	.menu
	.menu__item:nth-of-type(n+4)
	.menu__submenu
	.menu__submenu__item
	.menu__submenu__submenu {
	right: 100%;
}
.main-header
	.menu
	.menu__item:nth-of-type(n+4)
	.menu__submenu
	.menu__submenu__item[data-full='true']::before {
    right: auto;
    left: 1em;
}
.main-header
	.menu
	.menu__item:nth-of-type(n+4)
	.menu__submenu
	.menu__submenu__item[data-full='true']:hover::before {
   transform: rotate(135deg);
}

.main-header
	.menu
	.menu__item
	.menu__submenu
	.menu__submenu__item
	.menu__submenu__submenu
	.menu__submenu__submenu__item {
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-header
	.menu
	.menu__item
	.menu__submenu
	.menu__submenu__item
	.menu__submenu__submenu
	.menu__submenu__submenu__item:hover {
	background-color: #fff;
	color: #042448;
}

.main-header .menu .menu__item:nth-of-type(1) {
	background-color: #0b3061;
}
.main-header .menu .menu__item:nth-of-type(4) {
	background-color: #0b3061;
}

.main-header .menu .menu__item:nth-of-type(2) {
	background-color: #1f4f8f;
}
.main-header .menu .menu__item:nth-of-type(5) {
	background-color: #1f4f8f;
}

.main-header .menu .menu__item:nth-of-type(3) {
	background-color: #306cbe;
}
.main-header .menu .menu__item:nth-of-type(6) {
	background-color: #306cbe;
}

@media (max-width: 1024px) {
	.main-header .menu .menu__item .text {
		display: none;
	}
}
@media (max-width: 767px) {
	.main-header .menu {
		height: 60px;
	}
	.main-header .menu .menu__item .icon {
		height: 20px;
	}
}
